@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
:root {
  --primary-color: rgb(17, 86, 102);
  --primary-color-darker: rgb(9, 48, 56);
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  font-family: 'Open sans', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

.main {
  display: flex;
  width: 100%;
}

.container {
  max-width: 640px;
  margin: 50px auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
}

form input, form label, form button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

form input {
  font-size: 24px;
  height: 50px;
  padding: 0 20px;
}

form input:focus {
  outline: 1px solid var(--primary-color);
}

form button {
  border: none;
  background: var(--primary-color);
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  height: 50px;
  cursor: pointer;
  margin-top: 30px;
}

form button:hover {
  background: var(--primary-color-darker);
}

.cabecalho {
    max-width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.paragrafo-resultado {
    background: rgb(36, 164, 0);
    padding: 10px 20px;
}


.inputFormulario {
  display: flex;
  flex-direction: column;
}

#tamanho-pe {
  margin-top: 5px;
  height: 50px;
}

.botaoExplicacao {
  margin-top: 10px;
  height: 30px;
  font-size: 16px;
}

.resume {
  display: flex;
  flex-direction: column;
}

.mostraBotao{
  display: block;
}

#valor-r {
  height: 30px;
}

#valor-theta {
  height: 30px;
}

.explicacao > li {
  list-style: none;
  padding-top: 24px;
}

.colorRed {
  color: red;
  font-size: 12px;
}

.removeSpan {
  display: none;
}

.container-image {
  background-color: red;
}

.image-result {
  width: 50%;
  margin: auto;
  background-color: yellow;
}

.preview {
  margin: auto;
  display: block;
  border: solid 2px;
  width: 50%;
}

.ifram-geogebra {
  margin: auto;
  padding-top: 30px;
}



@media (min-width: 700px) { 

 }

 @media (max-width: 1024px) {
  .ifram-geogebra {
    display: none;
  }
}
